<header>
        <nav class="navbar navbar-expand-lg bg-dark p-4" data-aos="fade-down" data-aos-duration="1000">
            <div class="container-fluid">
                <!-- Botón hamburguesa -->
                <button class="navbar-toggler  color-burguer" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarVolt" aria-controls="navbarVolt" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon color-burguer"></span>
                </button>

                <!-- Menú colapsable -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarVolt">
                    <div class="contenedor-responsivo m-3">
                        <img src="assets/logo-volt.webp"
                            class="img-fluid responsive navbar-brand d-flex align-items-center " alt="logo-volt">
                    </div>


                    <ul class="navbar-nav mb-2 mb-lg-0 p-2">

                        <li class="nav-item m-3">
                            <a class="nav-link" href="#Inicio">Inicio</a>
                        </li>
                        <li class="nav-item m-3">
                            <a class="nav-link" href="#Catalogo">Catálogo</a>
                        </li>
                        <li class="nav-item m-3">
                            <a class="nav-link" href="#Contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>